.App {
  text-align: center;
  background: #000;
  /* height: 200rem; */
  height: auto;
}
h1,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  box-sizing: border-box;
  font-size: calc(100vw / 1920 * 16);
  
}
body {
  background: #fff;
  overflow-x: hidden;

  overflow-x: hidden;
  position: relative;
  padding: 0;
  margin: 0;
  
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  /* height: 1080px; */
}

.main {
  background: #367d6a;
  width: 120rem;
  /* height: 67.5rem; */
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.header {
  display: flex;
  align-items: center;
  gap: 5rem;
  
}
.logo_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.85rem;
  
}
.logo_img {
  width: 5.1875rem;
  height: 5.1875rem;
  flex-shrink: 0;
  
}
.logo_p {
  color: #ffa26f;
  font-family: "ADLaM Display";
  font-size: 2.99481rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: -1.5rem;
  
}
.header_nav {
  display: flex;
  color: #ffa26f;
  font-family: Montserrat;
  font-size: 1.68rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  gap: 1.56rem;

  margin-bottom: -2.5rem;

  
}
.header_nav_mobile {
  display: none;
  color: #ffa26f;
  font-family: Montserrat;
  font-size: 1.68rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  gap: 1.56rem;
  display: none;
  margin-bottom: -2.5rem;
  /* align-items: center; */
  /* justify-content: center; */

  
}
.header_nav_1 {
  display: none;
  color: #ffa26e;
  font-family: "ADLaM Display";
  font-size: 0.407rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 7.25rem;
  justify-content: space-between;

  
}
.header_btn {
  display: inline-flex;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.9375rem;
  border: 1px solid #ffa26e;
  background: #ffa26e;

  color: #323232;
  font-family: RoadRadio;
  font-size: 4.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: -4rem;
  
}

/* MAIN */
.main_cnt {
  display: flex;
  width: 90rem;
  margin-top: 5.57rem;
  height: 67.5rem;
  /* background: wheat; */
  gap: 9.5rem;
  
}

.left_side {
  height: 42.8rem;
  width: 45rem;
  /* background: #000; */
  
}
.right_side_img {
  width: 36.1875rem;
  height: 32.375rem;
  flex-shrink: 0;
  
}

.m_l_p {
  width: 45.5rem;
  color: #ffa26f;
  font-family: Montserrat;
  font-size: 2.48881rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  
}
.m_l_h1 {
  color: #ffa26f;
  font-family: "ADLaM Display";
  font-size: 8.36813rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}

.m_l_cnt {
  width: 41.5rem;
  height: 16.375rem;
  flex-shrink: 0;
  border-radius: 1.4375rem;
  border: 13px solid #ffa26e;
  background: #ffa26e;
  display: flex;

  gap: 2.61rem;

  
}
.m_l_cnt_links {
  display: flex;
  width: 12.44rem;
  height: 12.98rem;
  margin-left: 1rem;
  margin-top: 1.12rem;
  gap: 0.88rem;
  
}
.m_l_cnt_links_link {
  width: 5.777rem;
  height: 5.777rem;
  flex-shrink: 0;
  padding-top: 0.88rem;
  
}
.m_l_cnt_right_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  
}
.m_l_cnt_right_link_p {
  width: 5.15181rem;

  color: #323232;
  font-family: Montserrat;
  font-size: 1.61731rem;
  margin-left: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  
}
.m_l_cnt_right {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  
}

.m_l_cnt_right_link {
  width: 16.20581rem;
  height: 2.851rem;
  flex-shrink: 0;
  border-radius: 2.35081rem;
  border: 0.1rem solid #323232;
  background: rgba(217, 217, 217, 0);

  display: flex;
  align-items: center;
  
}
.m_l_cnt_r_img {
  width: 2.10075rem;
  height: 2.10075rem;
  flex-shrink: 0;
  margin-left: 1rem;
  
}
.m_l_cnt_r_p {
  color: #323232;
  font-family: Montserrat;
  font-size: 2.27938rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 1rem;
  
}

.about_cnt {
  /* margin-top: 13.9rem; */
  width: 120rem;
  height: 61.9375rem;
  flex-shrink: 0;
  /* display: none; */
  background: #367d6a;

  display: flex;
  gap: 0.8rem;
  
}
.a_left_side {
  width: 48.25rem;
  height: 49.75rem;
  flex-shrink: 0;
  
}
.about_right {
  width: 70.9375rem;
  height: 61.9375rem;
  flex-shrink: 0;
  border-radius: 3.125rem 0rem 3.125rem 3.125rem;
  background: #ffa26e;
  position: relative;

  display: flex;
  flex-direction: column;
  
}
.about_h1 {
  color: #367d6a;
  font-family: "ADLaM Display";
  font-size: 8.66794rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}
.about_p1 {
  width: 28.86625rem;
  color: #367d6a;
  font-family: Montserrat;
  font-size: 1.64456rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-align: left;
  margin-left: 5.19rem;
  
}
.about_p2 {
  width: 28.86625rem;
  color: #367d6a;
  text-align: right;
  font-family: Montserrat;
  font-size: 1.64431rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-align: right;
  margin-left: 35.4rem;
  margin-top: 19.76rem;
  position: absolute;
  
}
.about_p3 {
  width: 28.86625rem;
  color: #367d6a;
  font-family: Montserrat;
  font-size: 1.64431rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;

  margin-left: 5.19rem;
  margin-top: 40.75rem;
  position: absolute;
  
}
.about_tri {
  position: absolute;
  width: 15.5rem;
  height: 19.5rem;
  flex-shrink: 0;
  flex-shrink: 0;
  right: 0;
  bottom: 0;
  margin-bottom: -5rem;

  /* margin-top: 2rem; */
  
}
/* GOALS */
.goals {
  background: #367d6a;

  height: 62.69rem;
  width: 120rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  
}
.goals_cnt {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 11rem;
  padding-bottom: 5.55rem;
  
}
.goals_h1 {
  color: #ffa26e;
  font-family: "ADLaM Display";
  font-size: 9.183rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}
.goal_title {
  padding-top: 2rem;
  display: flex;
  align-items: start;
  gap: 1rem;
  margin-left: -2.3rem;
  padding-bottom: 1rem;
  
}
.goal_img {
  width: 1.84106rem;
  height: 1.84106rem;
  flex-shrink: 0;
  margin-top: 0.5rem;
  
}
.goal_p {
  color: #ffa26e;
  font-family: Montserrat;
  font-size: 2.32269rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 75.14906rem;
  text-align: left;
  
}
/* TREEE */
.tree {
  width: 120rem;
  height: 174.4375rem;
  flex-shrink: 0;
  background: #367d6a;
  padding-top: 11.69rem;

  position: relative;
  
}
.tree_cnt {
  height: 144.19rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  position: relative;
  
}
.tree_img {
  width: 87.46575rem;
  height: 92.25rem;
  flex-shrink: 0;
  flex-shrink: 0;
  
}
.tree_absolute_text {
  position: absolute;
  display: flex;
  color: #ffa26e;
  font-family: RoadRadio;
  font-size: 6.67625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  gap: 23rem;
  top: 0;
  margin-top: 83.56rem;
  margin-right: 15.5rem;
  
}
.tree_cards {
  display: flex;
  align-content: center;
  flex-direction: column;
  align-self: center;
  position: absolute;
  margin-top: 90.96rem;

  gap: 2.94rem;
  
}
.tree_card_1 {
  width: 77.875rem;
  height: 14.78619rem;
  flex-shrink: 0;
  border-radius: 0rem 1.8125rem;
  background: #ffa26e;

  display: flex;
  align-items: center;

  
}

.tree_card_2 {
  width: 77.875rem;
  height: 17.25rem;
  flex-shrink: 0;
  border-radius: 0rem 1.8125rem;
  background: #ffa26e;

  display: flex;

  align-items: center;

  
}
.tree_card_3 {
  width: 77.875rem;
  height: 16rem;
  flex-shrink: 0;
  border-radius: 0rem 1.8125rem;
  background: #ffa26e;

  display: flex;
  gap: 2rem;
  align-items: center;
  
}

.tree_card_img_1 {
  width: 13.125rem;
  height: 13.125rem;
  flex-shrink: 0;
  margin-left: 3.94rem;
  /* margin-top: 0.35rem; */
  
}
.tree_card_img_2 {
  width: 16.0625rem;
  height: 15.4375rem;
  flex-shrink: 0;
  margin-left: 2.5rem;
  /* margin-top: 1rem; */
  
}
.tree_card_img_3 {
  width: 16.0625rem;
  height: 15.4375rem;
  flex-shrink: 0;
  margin-left: 2.5rem;
  /* margin-top: 0.3rem; */
  
}
.tree_card_title {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 0.2rem;
  
}
.tree_card_h1 {
  color: #323232;
  font-family: "ADLaM Display";
  font-size: 4.13919rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 38.1875rem;
  height: 4.45613rem;
  flex-shrink: 0;
  
}
.tree_card_p {
  width: 54rem;
  height: 10.20638rem;
  flex-shrink: 0;

  color: #323232;
  font-family: Montserrat;
  font-size: 2.02094rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 0.7rem;
  
}
.tree_tri {
  position: absolute;
  width: 17.5rem;
  height: 14.8125rem;
  bottom: 0;
  left: 0;
  margin-bottom: -1rem;
  
}
/* TOKEN */

.token {
  width: 120rem;
  height: 175.25rem;
  flex-shrink: 0;
  background: #ffa26e;
  position: relative;
  
}
.token_h1 {
  color: #367d6a;
  font-family: "ADLaM Display";
  font-size: 7.54638rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10rem;
  
}
.token_p_1 {
  color: #367d6a;
  font-family: Montserrat;
  font-size: 9.50063rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  
}
.token_p_2 {
  width: 27rem;
  color: #367d6a;
  font-family: Montserrat;
  font-size: 3.64675rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  right: 0;
  margin-right: 24.12rem;
  margin-top: -2.5rem;
 
}
.token_card_1 {
  margin-top: 2.87rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  
}
.token_card_2 {
  margin-top: 2.87rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 3rem;
  
}
.token_card_3 {
  margin-top: 7rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 3rem;
  
}
.token_card_4 {
  margin-top: 3.5rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 3rem;
  
}
.token_title {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  /* margin-right: 2rem; */
  position: relative;
  
}
.token_title_2 {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  /* margin-right: 2rem; */
  position: relative;
  margin-top: 2rem;
  
}
.token_title_4 {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  margin-right: 2rem;
  position: relative;
  margin-top: 5rem;
  
}
.token_title_p_1 {
  color: #367d6a;
  font-family: "ADLaM Display";
  font-size: 3.69144rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  
  /* margin-right: 2rem; */
}
.token_title_p_2 {
  color: #367d6a;
  font-family: Montserrat;
  font-size: 2.12331rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  width: 54.3125rem;
  margin-left: 2.56rem;
  
}
.token_img_1 {
  width: 26.4375rem;
  height: 26.4375rem;
  flex-shrink: 0;

  margin-left: 9.81rem;
  
}
.token_tri {
  position: absolute;
  right: 0;
  /* width: 20rem; */
  
}
/* ROADMAP */
.roadmap {
  width: 120rem;
  height: 127.875rem;
  flex-shrink: 0;
  background: #367d6a;
  /* margin-top: 20rem; */

  color: #ffa26e;
  
}
.road_h1 {
  font-family: "ADLaM Display";
  font-size: 12.02488rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 1.75rem;
  padding-bottom: 3.56rem;
  
}

.road_img {
  width: 11.6875rem;
  height: 11.6875rem;
  flex-shrink: 0;
  
}
.road_title {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  
}
.road_title_p_1 {
  font-family: "ADLaM Display";
  font-size: 3.69144rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 2rem;
  
}
.road_title_p_2 {
  width: 75.5rem;
  font-family: Montserrat;
  font-size: 2.12331rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 2.56rem;
  
}
.road_card {
  display: flex;
  /* justify-content: center; */
  margin-left: 9.37rem;
  gap: 1.63rem;
  text-align: left;
  margin-bottom: 8.12rem;
  
}
.road_cnt_2 {
  color: #367d6a;
  background: #ffa26e;
  width: 120rem;
  height: 30.13rem;
  flex-shrink: 0;
  padding-top: 9.37rem;
  
}
.road_cnt_3 {
  width: 120rem;
  height: 30.13rem;
  flex-shrink: 0;
  padding-top: 9.37rem;
  
}
/* FOOTER */
.footer {
  width: 120rem;
  height: 29.875rem;
  flex-shrink: 0;
  background: #367d6a;
  
}
.footer_cnt {
  display: flex;
  flex-direction: column;
  gap: 2.49rem;
  margin-top: 3rem;
  
}
.footer_logo {
  display: flex;
  justify-content: center;
}
.footer_logo_1 {
  width: 5.99819rem;
  height: 5.99819rem;
  flex-shrink: 0;
  
}
.footer_logo_2 {
  width: 4.98725rem;
  height: 4.98725rem;
  flex-shrink: 0;
  margin-left: 3.57rem;
  
}
.footer_logo_p {
  align-self: flex-end;
  color: #ffa26f;
  font-family: "ADLaM Display";
  font-size: 3.22938rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0.5rem;
  
}
.header_title {
  width: 50.00719rem;
  color: #ffa26e;
  font-family: Montserrat;
  font-size: 1.34531rem;
  font-style: normal;
  font-weight: 700;
  line-height: 214.3%; /* 2.883rem */
  text-align: center;
  align-self: center;
  margin-top: 2.56rem;
  
}
